{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/codehilite.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}">
{% endblock %}
{% block content%}
	<h1>{{post.title}}</h1>
	<center><p><em>Posted by {{post.author}} on {{post.parsed_date}}</em><br /><br /></p></center>
	<div id="post-content">
		{{post.html | safe}}
	</div>
	<h3>{{comments.count}} comment{% if comments.count > 1 %}s{% endif %}</h3>
	<div id="comments">
		{% for comment in comments %}
			<div style="background-color:#d6d8d8; border-radius: 15px; padding:10px;">
				<h4>{{comment.author}}</h4>
				<em style="font-size:12px; margin-top:-20px;">{{comment.created}}</em>
				<p><br />{{comment.content}}<br /></p>
			</div>
      <br />
		{% endfor %}
	</div>
	<h3>Leave a comment !</h3>
	<form action="" method="post">
		{%csrf_token%}
		{% for error in form.non_field_errors %}
			<div class="form-group has-errors text-danger small">
				{{error}}
			</div>
		{% endfor %}
		{% for field in form %}
			<div class="form-group has-errors text-danger small">
				{{field.errors}}
			</div>
			<div class="form-group has-errors text-danger small">
			</div>
			<div class="form-group">
				{{field}}
			</div>
		{% endfor %}
		<button class="btn btn-primary" style="width:100%">Submit</button>
	</form>
{% endblock %}
